/* .users-list {
    padding: 20px;
  }
   */
  .users-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table th, .users-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .users-table th {
    background-color: #1a1717;
  }
  